body{
  margin: 0;
  padding: 0;
}
.container>div:first-child{
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  animation-name: bounce;
  animation: home-left-text-animation ease-in-out 2s alternate infinite;
}
.container>div>.img{
  position: relative;
  justify-content: end;
  border-radius: 50%;
  animation:  home-rotate-animation ease-in-out alternate 700ms;
}
.circle{
  margin-left: 100px;
  display: flexbox;
  justify-content: center;
  align-content: center;
  text-align: center;
  border: 2px solid black;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

h3{
  animation: moveAround 5s  linear infinite;
}

h4{
  animation: square 5s  linear infinite;   
}
.about > span{
  animation:zoominout 5s linear infinite;
}